
body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  scroll-behavior: smooth
}

 .nav-bar {
  display: flex;
  justify-content: flex-end;
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.nav-bar-content {
  display: flex;
  gap: 32px; 
}


.whoami{
    color: #f8f9fa;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    width: 100%;
    height: 100vh;
}

.projects{
    background-color: #f8f9fa;
    color: #212529;
    width: 100%;
  height: 100vh;}

.contact{
    background-color: #212529;
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  height: 100vh;
}

#role {
  display: inline-block;
  overflow: hidden;
  height: 1.2em;       /* lock height */
  line-height: 1.4em;  /* lock baseline */
    vertical-align: bottom;

}

.show {
  animation: rollDown 0.3s ease forwards;
}

.hide {
  animation: rollUp 0.3s ease forwards;
}

@keyframes rollDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rollUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.work-title{
    display: flex;
justify-content: center;

}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
        font-size: 2rem;


}

.project-1{
    background-color: #212529;
    display: flex;
    align-items: center;
    width: 25%;
   padding-bottom: 5%; 
  }

.work-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
        justify-content: space-around;

}