
body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
}

.nav-bar{
    display: flex;
    /* justify-content: flex-end; */
    /* padding-right: 2px; */
    align-content: space-between;
}

.whoami{
    color: #f8f9fa;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: larger;
}

.projects{
    background-color: #f8f9fa;
    color: #212529;
}

.contact{
    background-color: #212529;
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}